{% extends 'investigator/base.html' %} {% load staticfiles %} {% load range_filter %} {% block theme_styles %}

<link href="{% static 'theme/bs3/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/bootstrap-reset.css' %}" rel="stylesheet">
<link href="{% static 'theme/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

<link href="{% static 'theme/js/iCheck/skins/minimal/minimal.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/minimal/red.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/minimal/green.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/minimal/blue.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/minimal/yellow.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/minimal/purple.css' %}" rel="stylesheet">

<link href="{% static 'theme/js/iCheck/skins/square/square.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/square/red.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/square/green.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/square/blue.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/square/yellow.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/square/purple.css' %}" rel="stylesheet">

<link href="{% static 'theme/js/iCheck/skins/flat/grey.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/flat/red.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/flat/blue.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/flat/yellow.css' %}" rel="stylesheet">
<link href="{% static 'theme/js/iCheck/skins/flat/purple.css' %}" rel="stylesheet">

<link href="{% static 'theme/js/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
<link href="{% static 'theme/js/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" />
<link href="{% static 'theme/js/bootstrap-datetimepicker/css/datetimepicker.css' %}" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'theme/js/data-tables/DT_bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/js/jquery-tags-input/jquery.tagsinput.css' %}" />

<!-- Custom styles for this template -->
<link href="{% static 'theme/css/style.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/style-responsive.css' %}" rel="stylesheet" />

<link href="{% static 'theme/js/select2/select2.css' %}" rel="stylesheet" /> {% endblock theme_styles %} {% block other_styles %}
<link rel="stylesheet" href="{% static 'case_list/css/style.css' %}">

<style>
    .form-row {
        margin-bottom: 10px;
    }

    .form-row:last-of-type {
        margin-bottom: 30px;
    }

    .popup-form-data .label {
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        color: rgb(84, 84, 84);
        text-align: left;
    }

    .popup-form-data .value {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        color: rgb(84, 84, 84);
        text-align: left;
    }

    .investigator-name {
        cursor: pointer;
    }

    .rating span.star.filled:before,
    .rating span.star.filled~span.star:before {
        content: "\f005";
        color: #41CAC0;
    }

    .swal2-modal .swal2-input[type=number] {
        max-width: 100%;
    }

    .case-extras {
        text-align: left;
    }

    .case-extras h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .remove-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 50px;
        height: 50px;
        margin-left: 400px */
    }

    .apply-filter {
        /* width: 50px;
    height: 50px;
    margin-left: 500px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .law-firm-select {
        padding: 0;
    }

    .law-firm-select>.select2-choice {
        height: 100%;
    }

    

    .broker-select {
        padding: 0;
    }

    .broker-select>.select2-choice {
        height: 100%;
    }

    .master-broker-select {
        padding: 0;
    }

    .master-broker-select>.select2-choice {
        height: 100%;
    }

    .status-select {
        padding: 0;
    }

    .status-select>.select2-choice {
        height: 100%;
    }

    .input-large {
        position: relative;
    }

    .input-large label {
        position: absolute;
        top: 35px;
        right: 15px;
    }
    /* .adv-table {
        margin-top: -64px;
    }

    #paginator {
        background-color: gainsboro;
    }

    .current {
        margin-right: 7px;
    } */
    .mark {
    color: #d5d5d5;
    background: transparent;
    
}
.mark:hover {
    color: #FF9100;
    
}
.unmark {
    color: #FF9100;
    background: transparent;
    
}
.unmark:hover {
    color: #d5d5d5;
}
h2{
    font-size: 20px;
}
@media only screen and (max-width: 500px) {
    #cases-table{
        overflow-y:scroll;
    display:block;
        }
    }
</style>
{% endblock other_styles %} {% load range_filter %} {% block content %}
{% load range_filter %}

<div id="filters-container">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading no-mouse-events">
                    Filters
                    <span class="tools pull-right">
                                        <a href="javascript:;" class="fa fa-chevron-up"></a>
                                     </span>
                </header>
                <div class="panel-body" id="filters">
                    <form action="." method="post" id="filter-form" class="form-horizontal bucket-form">
                        {% csrf_token %}
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3 control-label col-lg-3">Law Firm <sup>*</sup></div>
                            <div class="col-lg-6">
                                <select name="law-firm" id="law-firm-filter" class="form-control mbot-15 law-firm-select" data-placeholder="Please select a law firm">
                                            <option value=""></option>
                                            {% for law_firm in law_firms %}
                                            <option value="{{ law_firm.id }}">{{ law_firm.name }}</option>
                                            {% endfor %}
                                        </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3 control-label col-lg-3">Broker<sup>*</sup></div>
                            <div class="col-lg-6">
                                <select name="broker" class="form-control mbot-15 broker-select" data-placeholder="Please select a broker">
                                                    <option value=""></option>
                                                    {% for broker in brokers %}
                                                    <option value="{{ broker.pk }}">{{ broker.user.first_name }} {{ broker.user.last_name }}</option>
                                                    {% endfor %}
                                                    <!-- {% for master_broker in master_brokers %}
                                                    <option value="{{ master_broker.pk }}">{{ master_broker.user.first_name }} {{ master_broker.user.last_name }}</option>
                                                    {% endfor %} -->
                                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3 control-label col-lg-3">Master Broker<sup>*</sup></div>
                            <div class="col-lg-6">
                                <select name="master-broker" class="form-control mbot-15 master-broker-select" data-placeholder="Please select a master broker">
                                                        <option value=""></option>
                                                        {% for master_broker in master_brokers %}
                                                        <option value="{{ master_broker.pk }}">{{ master_broker.user.first_name }} {{ master_broker.user.last_name }}</option>
                                                        {% endfor %}
                                                    </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3 control-label col-lg-3">Status <sup>*</sup></div>
                            <div class="col-lg-6">
                                <select name="status" class="form-control mbot-15 status-select" data-placeholder="Please select a status">
                                                    <option value=""></option>
                                                    <option value="In progress">In progress</option>
                                                    <option value="Called and texted">Called and texted</option>
                                                    <option value="Client contacted">Client contacted</option>
                                                    <option value="Client meeting set">Client meeting set</option>
                                                    <option value="Signature obtained">Signature obtained</option>
                                                    <option value="Client rescheduled">Client reschedule time and/or place</option>
                                                    <option value="Client cancelled">Client cancel</option>
                                                    <option value="Signature not obtained">Signature not obtained</option>
                                                    <option value="Closed">Closed</option>
                                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3 control-label col-lg-3">Date Range <sup>*</sup></div>
                            <div class="col-lg-6">
                                <div class="input-group input-large" data-date="mm/dd/yyyy" data-date-format="mm/dd/yyyy">
                                    <input type="text" class="form-control dpd1" name="from" id="from-date">
                                    <span class="input-group-addon" id="to">To</span>
                                    <input type="text" class="form-control dpd2" name="to" id="to-date">
                                </div>
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                                <div class="col-sm-3 control-label col-lg-3">Marked </div>
                                <div class="col-lg-6" style="margin-top:6px">
                                <input type="checkbox" name="marked-case">Marked</input>
                                </div>
                            </div>
                            <br>
                        <div class="col-sm-12">
                            <div class="apply-filter">
                            <input type="hidden" name="context" value="apply-filters">
                            <button type="submit" class="btn btn-success apply-filter" form="filter-form">Apply Filters</button>
                            </div>
                        </div>
                    </form>
                    <br><br><br> {% if is_filter_applied %}
                    <div class="col-sm-12">
                        <div class="remove-filter">
                            <button type="submit" class="btn btn-danger">Remove Filters</button>
                        </div>
                    </div>
                    {% else %} {% endif %}
                </div>

            </section>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading no-mouse-events">
                All Cases
            </header>
            <div class="panel-body">
                <!-- <div class="pagination">
                    <span class="step-links">
                                {% if cases.has_previous %}
                                   <button id="paginator" onclick="window.location.href='?page={{ cases.previous_page_number }}'"><i class="fa fa-chevron-left" style="color:black" aria-hidden="true"></i></button>
                                {% endif %}
                        
                                <span class="current">
                                     {{ cases.number }} of {{ cases.paginator.num_pages }}
                                </span> {% if cases.has_next %}
                    <button id="paginator" onclick="window.location.href='?page={{ cases.next_page_number }}'"><i class="fa fa-chevron-right" style="color:black" aria-hidden="true"></i></button>                    {% endif %}
                    </span>
                </div> -->
                {% csrf_token %}
                <div class="adv-table editable-table">
                    <div class="clearfix">
                    </div>
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="cases-table">
                        <thead>
                            <tr>
                                <th>Mark</th>
                                <th class="no-sort"> Case No.  </th>
                                <th class="no-sort"style="width: 75px;">Date</th>
                                <th class="no-sort">Name of Law Firm</th>
                                <th class="no-sort"style="width: 150px;">Case Name</th>
                                <th class="no-sort" style="width: 200px;">Location</th>
                                <th class="no-sort" style="width: 200px;">Status</th>
                                <th class="no-sort">Broker
                                <th class="no-sort">Total Payout to Investigator</th>
                                <!-- <th class="no-sort">Payment Status</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for case in cases %}
                            <tr>
                                
                                    {% if case.is_attention_required %}
                                    <td><button class="unmark-case-btn" style="background:transparent;color:black;border:transparent" case-id= "{{ case.pk }}"><i class="fa fa-exclamation-triangle fa-lg unmark" aria-hidden="true"></i></button></td>
                                    {% else %}
                                    <td><button id="mark-case" class="mark-case-btn" style="background:transparent;color:black;border:transparent" case-id= "{{ case.pk }}"><i class="fa fa-exclamation-triangle fa-lg mark" aria-hidden="true"></i></button></td>
                                    {% endif %}
                                <td>{{case.pk}}</td>
                                <td> {{ case.created_at}}</td>
                                <td>{{ case.law_firm.name }}</td>
                                <td><a href="/investigator/case-details/{{ case.pk }}/">{{ case.name }}</a></td>
                                <td class="table-dropdown-holder">
                                    <span class="text">{{ case.client_address }}</span> {% if case.client_address.gmaps_link%}
                                    <span class="options"><a href="{{ case.client_address.gmaps_link | safe }}" target="_blank"><i class="fa fa-map-marker"></i></a></span>                                    {% else %}
                                    <span class="options">
                                        <i class="fa fa-map-marker"></i>
                                    </span> {% endif %}
                                </td>
                                <td class="table-dropdown-holder">
                                        <span class="text">{{ case.status }}{% for status_update in status_updates %}{% if status_update.case == case %}{% if status_update.extra_info %}<i class="fa fa-info-circle extra-info-holder" style="margin-left:10px" data-stringified-info="{{status_update.extra_info}}"></i>{% endif %}{% endif %}{% endfor %}</span> {% if case.status != '' %}
                                    {% if case.status != "Closed" and case.status != "Duplicate delete" %}
                                    <div class="options">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" type="button" aria-expanded="false">
                                            <span class="caret"></span></button>
                                            <ul role="menu" class="dropdown-menu status-change" data-case-id="{{ case.pk }}">
                                                
                                                <li><a href="#" data-case-status="Inactive">Inactive</a></li>
                                                <li><a href="#" data-case-status="In progress">In progress</a></li>
                                                <li><a href="#" data-case-status="Called and texted">Called and texted</a></li>
                                                <li><a href="#" data-case-status="Client contacted">Client contacted</a></li>
                                                <li><a href="#" data-case-status="Client meeting set">Client meeting set</a></li>
                                                <li><a href="#" data-case-status="Client rescheduled">Client reschedule time and/or place </a></li>
                                                <li><a href="#" data-case-status="Client cancelled">Client cancel</a></li>
                                                <li><a href="#" data-case-status="Signature obtained" data-no-of-adult-signatures-required="{{ case.number_of_adult_signatures_required }}"
                                                        data-no-of-child-signatures-required="{{ case.number_of_child_signatures_required }}">Signature obtained</a></li>
                                                <li><a href="#" data-case-status="Signature not obtained">Signature not obtained</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    {% if case.created_by %}
                                    <span style="cursor: pointer" class="created-by-name-table text" data-created-by-id="{{ case.created_by.pk }}">{{ case.created_by.user.first_name}} {{case.created_by.user.last_name}} </span>                                    {% else %}
                                    <span style="cursor: pointer" class="created-by-name-table text" data-created-by-id="{{ case.created_by_master.pk }}">{{ case.created_by_master.user.first_name}} {{case.created_by_master.user.last_name}} </span>                                    {% endif %}
                                </td>
                                {% if case.status == "Closed" %}
                                <td style="font-size:14px"><b>${{case.amount_paid_to_investigator }}</b></td>
                                {% else %}
                                <td><b>Close case to see amount</b></td>{% endif %}
                                <!-- <td>
                                    {% if case.is_investigator_paid %}
                                    <span class="payment-status">Paid and Closed</span> 
                                    {% elif case.is_invoice_mailed or case.is_invoice_as_csv_mailed %}
                                    <span class="payment-status">Invoice Mailed but not paid</span>
                                    {% elif case.invoice %}
                                    <span class="payment-status">Invoice Generated but Unpaid</span> 
                                    {% elif case.status == 'Closed' %}
                                    <span class="payment-status">Closed but No Invoice </span> 
                                    {% else %}
                                    <span class="payment-status">Progress </span> {% endif %}
                                </td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %} {% block theme_scripts %}
<script src="{% static 'theme/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'theme/js/jquery-migrate.js' %}"></script>

<script src="{% static 'theme/bs3/js/bootstrap.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'theme/js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'theme/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'theme/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js' %}"></script>
<script src="{% static 'theme/js/jquery.nicescroll.js' %}"></script>
<!--Easy Pie Chart-->
<script src="{% static 'theme/js/easypiechart/jquery.easypiechart.js' %}"></script>
<!--Sparkline Chart-->
<script src="{% static 'theme/js/sparkline/jquery.sparkline.js' %}"></script>
<!--jQuery Flot Chart-->
<script src="{% static 'theme/js/flot-chart/jquery.flot.js' %}"></script>
<script src="{% static 'theme/js/flot-chart/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'theme/js/flot-chart/jquery.flot.resize.js' %}"></script>
<script src="{% static 'theme/js/flot-chart/jquery.flot.pie.resize.js' %}"></script>

<script type="text/javascript" src="{% static 'theme/js/data-tables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'theme/js/data-tables/DT_bootstrap.js' %}"></script>

<script src="{% static 'theme/js/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'theme/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'theme/js/bootstrap-daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'theme/js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'theme/js/bootstrap-timepicker/js/bootstrap-timepicker.js' %}"></script>
<script src="{% static 'theme/js/jquery.validate.min.js' %}"></script>

<script src="{% static 'theme/js/iCheck/jquery.icheck.js' %}"></script>

<!--common script init for all pages-->
<script src="{% static 'theme/js/scripts.js' %}"></script>

<!--script for this page only-->
<script src="{% static 'theme/js/table-editable.js' %}"></script>
<script src="{% static 'theme/js/table-editable1.js' %}"></script>
<script src="{% static 'theme/js/select2/select2.js' %}"></script>
<script src="{% static 'theme/js/jquery-tags-input/jquery.tagsinput.js' %}"></script>
<script>
    $(function () {
        EditableTable.init();
    });

</script>

<!-- END JAVASCRIPTS -->
{% endblock theme_scripts %} {% block other_scripts %}
<script src="{% static 'case_list/js/script.js' %}"></script>
<script src="{% static 'investigator/js/details.js' %}"></script>
<script>
    var investigator_assigned = false, assign_investigator, show_investigator, case_id, additional_expenses, no_of_miles;
    $('a[data-nav-item=all-cases]').addClass('active');
    $('.select2-filter').select2({
        width: '90%'
    });
    $('#navigation-button').text('Closed Cases');
    $('#navigation-button').click(function () {
        location.assign('/investigator/closed-cases/');
    });
    //Jquery pagination 




    

    $('.investigator-name-table').on('click', function () {
        show_investigator($(this).attr('data-investigator-id'), false);
    });

    $("#filters").css("display", "none")
    // debugger

    var nowDate = new Date();
    var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    var endDate = $("#to-date").val();
    var startDate = $("#from-date").val();

    var fromDatePicker = $('#from-date');
    var toDatePicker = $('#to-date');

    fromDatePicker.datepicker({
        autoclose: true,
        endDate: today
    }).on('changeDate', function (e) {
        if(toDatePicker.val()!="" && toDatePicker.val()<fromDatePicker.val()){
            $('form').validate({
                rules: {
                    to: { 
                    greaterThan:"#from-date"
                    }
                }
            });
        }
    });


    toDatePicker.datepicker({
        autoclose: true,
        endDate: today
    }).on('changeDate', function (e) {
        // // Revalidate the date field
        // fromDatePicker.formValidation('revalidateField', 'date');
        if(fromDatePicker.val()!="" && toDatePicker.val()<fromDatePicker.val()){
            $('form').validate({
                rules: {
                    to: { 
                    greaterThan:"#from-date"
                    }
                }
            });
        }
    });

    $.validator.addMethod("greaterThan", function(value, element, params) {
        if (!/Invalid|NaN/.test(new Date(value))) {
            return new Date(value) > new Date($(params).val());
        }

        return isNaN(value) && isNaN($(params).val()) 
            || (Number(value) > Number($(params).val())); 
            
    },'Must be greater than From Date.');

    




    $('.law-firm-select').select2({
        width: '100%'
    });
    
    $('.status-select').select2({
        width: '100%'
    });
    $('.broker-select').select2({
        width: '100%'
    });
    $('.master-broker-select').select2({
        width: '100%'
    });
    
    




    $('input[type=text][name=from]').val('{{ from }}');
    $('input[type=text][name=to]').val('{{ to }}');
    debugger
    {% if selected_firm %}
    
    $('#law-firm-filter').val('{{ selected_firm }}');
    $('#law-firm-filter').trigger('change');
    // $('.law-firm-select option[value="{{ selected_firm.id }}"]').attr("selected","selected");
    {% else %}
    $('.law-firm-select').val('');
    {% endif %}

    

    {% if selected_broker %}
    $('.broker-select').val('{{ selected_broker }}');
    $('.broker-select').trigger('change');
    {% else %}
    $('.broker-select').val('');
    {% endif %}

    {% if selected_master_broker %}
    $('.master-broker-select').val('{{ selected_master_broker }}');
    $('.master-broker-select').trigger('change');
    {% else %}
    $('.master-broker-select').val('');
    {% endif %}

    {% if selected_status %}
    $('.status-select').val('{{ selected_status }}');
    $('.status-select').trigger('change');
    {% else %}
    $('.status-select').val('');
    {% endif %}
    {% if is_marked_case %}
    $('input[type=checkbox][name=marked-case]').prop('checked',true)
    {% endif %}
    
    
    // $('.remove-filters').click, function(event){
    //     event.preventDefault()
    //     $('#law-firm-filter').val("").trigger('change');
    //     $('.investigator-select').val("").trigger('change');
    //     $('.status-select').val("").trigger('change');
    //     $('input[type=text][name=from]').val('');
    //     $('input[type=text][name=to]').val('');
    // }
    $('.remove-filter').click(function () {
        'use strict';

        $('<form action="." method="POST"></form>')
            .append($('<input>', {
                'name': 'csrfmiddlewaretoken',
                'value': $('input[name=csrfmiddlewaretoken]').val(),
                'type': 'hidden'
            }))
            .append($('<input>', {
                'name': 'context',
                'value': 'remove-filters',
                'type': 'hidden'
            }))
            .appendTo('body').submit();
    });
    // $('.apply-filter').click(function () {
    //     'use strict';

    //     $('<form action="." method="POST"></form>')
    //         .append($('<input>', {
    //             'name': 'csrfmiddlewaretoken',
    //             'value': $('input[name=csrfmiddlewaretoken]').val(),
    //             'type': 'hidden'
    //         }))
    //         .append($('<input>', {
    //             'name': 'context',
    //             'value': 'apply-filters',
    //             'type': 'hidden'
    //         }))
    //         .appendTo('body').submit();
    // });
    $('.mark-case-btn').click(function (event) {
            event.preventDefault()
            var case_id = $(this).attr('case-id');
            debugger
            swal({
                title: 'Mark Case as attention required',
                text: 'Are you sure you want mark this case?',
                type: 'warning',
                confirmButtonText: 'Yes',
                showCancelButton: true,
                cancelButtonText: 'No'
            }).then(
                function () {
                $.post('/investigator/mark-case/', {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    case_id: case_id,
                    mark:'mark'
                }, function () {
                    swal({
                        title: 'Success!',
                        text: 'The Case is marked  for attention',
                        type: 'success',
                        timer: 2000,
                        showConfirmButton: false
                    })
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }).fail(function (error) {
                
                swal({
                    title: 'Unable to mark',
                    text: 'Unable to mark case as case is already closed',
                    type: 'error',
                    showConfirmButton: true

                });
            });
            })
     });
     $('.unmark-case-btn').click(function (event) {
            event.preventDefault()
            var case_id = $(this).attr('case-id');
            debugger
            swal({
                title: 'Unmark Case as attention required',
                text: 'Are you sure you want unmark this case?',
                type: 'warning',
                confirmButtonText: 'Yes',
                showCancelButton: true,
                cancelButtonText: 'No'
            }).then(
                function () {
                $.post('/investigator/mark-case/', {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    case_id: case_id,
                    mark:'unmark'
                }, function () {
                    swal({
                        title: 'Success!',
                        text: 'The Case is unmarked for attention',
                        type: 'success',
                        timer: 2000,
                        showConfirmButton: false
                    })
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }).fail(function (error) {
                
                swal({
                    title: 'Unable to unmark',
                    text: 'Unable to unmark case as case is already closed',
                    type: 'error',
                    showConfirmButton: true
                });
            });
            })
     });
    
</script>
{% endblock other_scripts %}