{% extends 'broker/base.html' %} 

{% load staticfiles %} 
{% load range_filter %}

{% block theme_styles %}
<link href="{% static 'theme/bs3/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/bootstrap-reset.css' %}" rel="stylesheet">
<link href="{% static 'theme/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

<link href="{% static 'theme/js/iCheck/skins/minimal/minimal.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'theme/js/data-tables/DT_bootstrap.css' %}" />

<!-- Custom styles for this template -->
<link href="{% static 'theme/css/style.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/style-responsive.css' %}" rel="stylesheet" />

<link href="{% static 'theme/js/select2/select2.css' %}" rel="stylesheet" /> {% endblock theme_styles %} {% block other_styles %}
<link rel="stylesheet" href="{% static 'case_list/css/style.css' %}"> 

<style>
    
    .form-row {
        margin-bottom: 10px;
    }
    
    .form-row:last-of-type {
        margin-bottom: 30px;
    }
    
    .popup-form-data .label {
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        color: rgb(84, 84, 84);
        text-align: left;
    }
    
    .popup-form-data .value {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        color: rgb(84, 84, 84);
        text-align: left;
    }
    
    .investigator-name {
        cursor: pointer;
    }
    
    .rating span.star.filled:before, .rating span.star.filled ~ span.star:before {
        content: "\f005";
        color: #41CAC0;
    }
    
    .swal2-modal .swal2-input[type=number] {
        max-width: 100%;
    }
    
    .case-extras {
        text-align: left;
    }
    
    .case-extras h2 {
        font-size: 20px;
        font-weight: bold;
    }
    
</style>
{% endblock other_styles %} {% load range_filter %} {% block content %}

<div class="tab-target show" data-target-value="timeline">
    <div class="row">
        <div class="col-sm-12">
            <div class="timeline">
                <article class="timeline-item alt">
                    <div class="text-right">
                        <div class="time-show first">
                            <a class="btn btn-primary">Today</a>
                        </div>
                    </div>
                </article>
                {% for notification in notifications %}
                <article class="timeline-item {% if forloop.counter|divisibleby:2 %}alt{% endif %}">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>

                                <span class="timeline-icon red">
                                    <i class="fa fa-check"></i>
                                </span>
                                <span class="timeline-date"></span>
                                <h1 class="red">
                                    {{ notification.timestamp |date:"D d F Y  h:i A" }}
                                </h1>
                                <p>
                                     {% if notification.type == 'status' %}
                                    <a href="/broker/case-details/{{ notification.case_id }}/"> {{ notification.investigator }} changed the status of {{ notification.case_name }} to {{ notification.status }}</a>
                                    {% elif notification.type == 'acceptance' %}
                                     <a style="color: {% if notification.is_accepted %} blue {% else %} red {% endif %} ;"   href="/broker/case-details/{{ notification.case_id }}/"> {{ notification.investigator }} {% if notification.is_accepted %}accepted{% else %}declined{% endif %} the case {{ notification.case_name }}</a>
                                     {% endif %}
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <article class="timeline-item alt">
                    <div class="text-right">
                        <div class="time-show first">
                            <a class="btn btn-primary">Beginning of Time</a>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>


{% endblock content %} 

{% block theme_scripts %}
<script src="{% static 'theme/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'theme/js/jquery-migrate.js' %}"></script>

<script src="{% static 'theme/bs3/js/bootstrap.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'theme/js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'theme/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'theme/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js' %}"></script>
<script src="{% static 'theme/js/jquery.nicescroll.js' %}"></script>


<script type="text/javascript" src="{% static 'theme/js/data-tables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'theme/js/data-tables/DT_bootstrap.js' %}"></script>

<script src="{% static 'theme/js/iCheck/jquery.icheck.js' %}"></script>

<!--common script init for all pages-->
<script src="{% static 'theme/js/scripts.js' %}"></script>

<!--script for this page only-->
<script src="{% static 'theme/js/table-editable.js' %}"></script>
<script src="{% static 'theme/js/table-editable1.js' %}"></script>
<script src="{% static 'theme/js/select2/select2.js' %}"></script>


<!-- END JAVASCRIPTS -->
{% endblock theme_scripts %} {% block other_scripts %}
<script src="{% static 'case_list/js/script.js' %}"></script>
<script src="{% static 'broker/js/details.js' %}"></script>
<script>
$('#navigation-button').text('Go Back').click(function(event){
     window.history.back();
});
    $("#header_notification_bar").hide();

</script>
{% endblock other_scripts %}
