{% extends 'master_broker/base.html' %}

{% load staticfiles %}

{% block theme_styles %}
<link href="{% static 'theme/bs3/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/bootstrap-reset.css' %}" rel="stylesheet">
<link href="{% static 'theme/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

<link href="{% static 'theme/js/iCheck/skins/minimal/minimal.css' %}" rel="stylesheet"> 
<link href="{% static 'theme/js/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet">   
<link href="{% static 'theme/js/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" >

<link href="{% static 'theme/js/select2/select2.css' %}" rel="stylesheet" />


<link rel="stylesheet" type="text/css" href="{% static 'theme/js/jquery-tags-input/jquery.tagsinput.css' %}" />

<!-- Custom styles for this template -->
<link href="{% static 'theme/css/style.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/style-responsive.css' %}" rel="stylesheet" />
{% endblock theme_styles %}

{% block other_styles %}
<link rel="stylesheet" href="{% static 'case_details/css/style.css' %}">
<link rel="stylesheet" href="{% static 'investigator/css/style.css' %}">
<style>
    .law-firm-select, .country-select-dropdown {
        padding: 0;
    }
    
    .law-firm-select > .select2-choice, .country-select-dropdown > .select2-choice {
        height: 100%;
    }
    .client-button {
        color: #888888;
    }
    
    .form-row {
        margin-bottom: 10px;
    }
    
    .popup-form-data .label {
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        color: rgb(84, 84, 84);
        text-align: left;
    }
    
    .popup-form-data .value {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        color: rgb(84, 84, 84);
        text-align: left;
    }
    
    .file-holder.hidden {
        display: none;
    }
    
    .swal2-modal .swal2-input[type=number] {
        max-width: 100%;
    }
    
    .case-extras {
        text-align: left;
    }
    
    .case-extras h2 {
        font-size: 20px;
        font-weight: bold;
    }
</style>
{% endblock other_styles %}

{% load range_filter %}

{% block content %}

<form action="." method="post" enctype="multipart/form-data" class="form-horizontal bucket-form">
    <div class="tab-target show" data-target-value="case-details">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Case Details
                        <!-- <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span> -->
                         <span class="pull-right panel-buttons">
                         {% if not case.is_attention_required %}
                         <button type="button" class="btn btn-danger mark-case-btn" id="mark-case" case-id= "{{case.pk}}">Mark Case <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i></button>
                         {% else %}
                         <button type="button" class="btn btn-success unmark-case-btn" id="unmark-case" case-id= "{{case.pk}}">Unmark Case <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i></button>
                         {% endif %}
                        </span>
                    </header>
                    <div class="panel-body">
                        {% csrf_token %}
                        <input type="hidden" name="context" value="update-case-details">
                        {% include 'case_form_snippet.html' %}
                    </div>
                </section>
            </div>
        </div>

        {% if editable %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-buttons case-edit-button" id="editCaseDetailsBtnsContainer" style="width: 200px;">
                    <button type="button" class="btn btn-success" id="editCaseDetailsBtn">Edit case details</button>
                    <button type="submit" class="btn btn-info">Update case details</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>


{% if editable %}
<form action="." method="post" class="form-horizontal bucket-form">
    {% csrf_token %}
    <input type="hidden" name="context" value="change-status">
    <div class="tab-target show" data-target-value="change-status">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading" style="pointer-events: none;">
                        Case Status
                    </header>
                    <div class="panel-body change-status-panel">
    
                        <div class="form-group">
                            <div class="icheck minimal" style="padding: 5px 10px;">
                                <div class="radio single-row">
                                    <input id="inactive" tabindex="3" type="radio"  name="case-status-radio" value="inactive">
                                    <label for="inactive">Inactive</label>
                                    <br><br>
                                </div>
                                <div class="radio single-row">
                                    <input id="in-progress" tabindex="3" type="radio"  name="case-status-radio" value="in-progress">
                                    <label for="in-progress">In progress</label>
                                    <br><br>
                                </div>
                                
                                <div class="radio single-row">
                                        <input id="called-and-texted" tabindex="3" type="radio"  name="case-status-radio" value="called-and-texted">
                                        <label for="called-and-texted">Called and Texted</label>
                                        <br><br>
                                </div>
                                    
                                <div class="radio single-row">
                                        <input id="client-contacted" tabindex="3" type="radio"  name="case-status-radio" value="client-contacted">
                                        <label for="client-contacted">Client contacted</label>
                                        <br><br>
                                </div>
                                <div class="radio single-row">
                                        <input id="client-meeting-set" tabindex="3" type="radio"  name="case-status-radio" value="client-meeting-set">
                                        <label for="client-meeting-set">Client meeting set</label>
                                        <br><br>
                                </div>
                                <div class="radio single-row">
                                    <input id="client-rescheduled" tabindex="3" type="radio"  name="case-status-radio" value="client-rescheduled">
                                    <label for="client-rescheduled">Client reschedule time and/or place</label>
                                    <br><br>
                                </div>
                                <div class="radio single-row">
                                    <input id="client-cancelled" tabindex="3" type="radio"  name="case-status-radio" value="client-cancelled">
                                    <label for="client-cancelled">Client cancelled </label>
                                    <br><br>
                                </div>
                                <div class="radio single-row">
                                        <input id="duplicate-delete" tabindex="3" type="radio"  name="case-status-radio" value="duplicate-delete">
                                        <label for="duplicate-delete">Duplicate delete</label>
                                        <br><br>
                                </div>
                                <div class="radio single-row">
                                    <input id="signature-obtained" tabindex="3" type="radio"  name="case-status-radio" value="signature-obtained">
                                    <label for="signature-obtained">Signature obtained</label>
                                    <br><br>
                                </div>
                                <div class="radio single-row">
                                    <input id="signature-not-obtained" tabindex="3" type="radio"  name="case-status-radio" value="signature-not-obtained">
                                    <label for="signature-not-obtained">Signature not obtained</label>
                                    <br><br>
                                </div>
                                <div class="radio single-row">
                                    <input id="closed" tabindex="3" type="radio"  name="case-status-radio" value="closed">
                                    <label for="closed">Closed</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="form-buttons editing" style="width: 200px;">
                    <button type="button" class="btn btn-info update-status" id="updateStatusBtn">Update Status</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endif %}

<div class="tab-target show" data-target-value="timeline">
    <div class="row">
        <div class="col-sm-12">
            <div class="timeline">
                <article class="timeline-item alt">
                    <div class="text-right">
                        <div class="time-show first">
                            <a class="btn btn-primary">Today</a>
                        </div>
                    </div>
                </article>
                {% for status_change in status_updates %}
                <article class="timeline-item {% if forloop.counter|divisibleby:2 %}alt{% endif %}">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>

                                <span class="timeline-icon red">
                                    <i class="fa fa-check"></i>
                                </span>
                                <span class="timeline-date"></span>
                                <h1 class="red">
                                    {{ status_change.timestamp |date:"D d F Y  h:i A" }}
                                </h1>
                                <p>{{ status_change.status }} {% if status_change.extra_info %} <i class="fa fa-info-circle extra-info-holder" data-stringified-info="{{ status_change.extra_info }}"></i> {% endif %} ({{ status_change.user.first_name }} {{ status_change.user.last_name }})</p>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block theme_scripts %}
<script src="{% static 'theme/js/jquery.js' %}"></script>
<script src="{% static 'theme/bs3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'theme/js/jquery.dcjqaccordion.2.7.js' %}" class="include"></script>
<script src="{% static 'theme/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'theme/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js' %}"></script>
<script src="{% static 'theme/js/jquery.nicescroll.js' %}"></script>
<!--Easy Pie Chart-->
<script src="{% static 'theme/js/easypiechart/jquery.easypiechart.js' %}"></script>
<!--Sparkline Chart-->
<script src="{% static 'theme/js/sparkline/jquery.sparkline.js' %}"></script>
<!--jQuery Flot Chart-->
<script src="{% static 'theme/js/flot-chart/jquery.flot.js' %}"></script>
<script src="{% static 'theme/js/flot-chart/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'theme/js/flot-chart/jquery.flot.resize.js' %}"></script>
<script src="{% static 'theme/js/flot-chart/jquery.flot.pie.resize.js' %}"></script>

<script src="{% static 'theme/js/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'theme/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>

<script src="{% static 'theme/js/iCheck/jquery.icheck.js' %}"></script>
<script src="{% static 'theme/js/jquery.validate.min.js' %}"></script>

<script type="text/javascript" src="{% static 'theme/js/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'common/js/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'theme/js/select2/select2.js' %}"></script>

<script src="{% static 'theme/js/jquery-tags-input/jquery.tagsinput.js' %}"></script>

<!--common script init for all pages-->
<script src="{% static 'theme/js/scripts.js' %}"></script>
<script src="{% static 'theme/js/icheck-init.js' %}"></script>
{% endblock theme_scripts %}

{% block other_scripts %}
<script>
    var case_id = Number.parseInt("{{ case.pk }}"), case_status = '{{ case.status }}', law_firm_id = Number.parseInt("{{ case.law_firm.pk }}"), additional_expenses = '{{ case.additional_expenses_text }}', no_of_miles = '{{ case.no_of_miles_text }}';
    var no_of_adult_signatures_required = "{{ case.number_of_adult_signatures_required }}", no_of_child_signatures_required = "{{case.number_of_child_signatures_required}}";
    var case_type_description = "{{case.type_description}}"
    case_status = case_status.toLocaleLowerCase();
    case_status = case_status.split(' ').join('-');
    $('input[name="case-status-radio"][value="' + case_status + '"]').prop('checked', true);
    $('select[name="law-firm"]').val(law_firm_id);
    $('select[name="country"]').val('{{ case.client_address.country }}');
    $('select[name="locality"]').val('{{ case.locality }}');
    
    $('#adult-clients').tagsInput({
        width:'auto',
        defaultText: 'Add client'
    });
    $('#child-clients').tagsInput({
        width:'auto',
        defaultText: 'Add client'
    });

    
    $('#case-type').on('change',function(event){
        if($('#case-type').val() != 'Others'){
            $('#case-type-description').attr('disabled','disabled').attr('required',false).val('').attr('placeholder','');
            
        }else{

            $('#case-type-description').attr('disabled',false).attr('required',true).attr('placeholder','Max. 200 chars').val(case_type_description);

        }
    });

    $('#case-type-description').on('change',function(ev){
        case_type_description = $(this).val(); 
    });
    $('input[name=edos]').datepicker('setDate','{{ case.expected_closing_date | date:"m/d/o" }}');
    $('input[name=dol]').datepicker('setDate', '{{ case.dol | date:"m/d/o" }}');
    $('input[name=dos]').datepicker('setDate', '{{ case.date_of_signup | date:"m/d/o" }}');
    $('input[name=closing-date]').datepicker('setDate', '{{ case.closing_date | date:"m/d/o" }}');
</script>
<script src="{% static 'master_broker/js/details.js' %}"></script>
<script>
    $('#navigation-button').html('<i class="fa fa-chevron-left"></i> Back');
    $('#navigation-button').click(function () {
        window.history.back();
    });
    
    $.validator.addMethod('phone', function (value) {
        if (value == '') {
            return true;
        }
        
        return /^\+\d \d\d\d\-\d\d\d\-\d\d\d\d$/.test(value); 
    }, 'Please enter a valid phone number.');
    $.validator.addMethod('format', function (value, element) {
       
        if (value == '') {
            return true;
        }
        return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/)
    }, 'Please enter date in this format (mm-dd-yyyy)');
    
    $.validator.addMethod('minDate', function (value) {
        
         if (value == '') {
             return true;
         }
         var inputDate = new Date(value);
         year = inputDate.getYear()
         if (year < 0)
         {
             return false;
         }
         else
         {
             return true;
         }
 
        
     }, 'Please enter a valid date');
     $('form').validate({
         rules: {
             'mobile-phone': {
                 phone: true
             },
             'home-phone': {
                 phone: true
             },
             'dol':{
                 format : true,
                 minDate : true
             },
             'dos':{
                 format : true,
                 minDate : true
             },
             'edos':{
                 format : true,
                 minDate : true
             }
         }
     });

     $('.document-holder').hide()
    $('.delete-document').hide()
    $('input[name*=phone]').inputmask('+9 999-999-9999');
    $('input:not(.swal2-input), textarea:not(.swal2-input)').attr('readonly', 'readonly');
    $('select').attr('disabled', 'disabled');
    {% if editable %}
    $('#editCaseDetailsBtnsContainer').one('click', function() {
        
        $(this).toggleClass('editing');
        $('input, textarea').removeAttr('readonly');
        $('select').removeAttr('disabled');
        $('.rating').toggleClass('fixed');
        $('.fileupload .btn').toggleClass('editing');
        // $('.file-holder').toggleClass('hidden');
        $('.delete-document').show()
        $('.document-holder').show()
        $('.law-firm-select').select2({
            width: '100%'
        });
        $('.law-firm-select').attr('disabled','disabled')
        $('#country-select').select2({
            width: '100%'
        });
        // $('input[name=dos]').attr('readonly','readonly');
        $("#phone-number-two-link").removeAttr("href")
        $("#phone-number-one-link").removeAttr("href")
    });
    
    {% if updated %}
        swal({
            title: 'Case updated',
            text: 'The case has been updated',
            type: 'success',
            timer: 2000,
            showConfirmButton: false
        });
    {% endif %}
    {% endif %}
    $('.delete-document').click(function () {
        //  debugger
         var attached_document_id = $(this).attr('attached-document-id');
         swal({
            title: 'Delete',
            text: 'Are you sure you want delete this document?',
            type: 'warning',
            confirmButtonText: 'Yes',
            showCancelButton: true,
            cancelButtonText: 'No'
        }).then(
            function () {
            $.post('/master-broker/delete-document/', {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                attached_document_id: attached_document_id
            }, function () {
                swal({
                    title: 'Success!',
                    text: 'The Document is deleted',
                    type: 'success',
                    timer: 2000,
                    showConfirmButton: false
                })
                setTimeout(function () {
                    location.reload();
                }, 2000);
            }).fail(function (error) {
            
            swal({
                title: 'Unable to delete document',
                text: 'Unable to delete document as document is attached to a case',
                type: 'error',
                showConfirmButton: true

            });
        });
        })
     });
    $('.download-document').click(function () {
        //  debugger
        var document_id = $(this).attr('document-id');
        $('<form action="." method="POST"></form>')
            .append($('<input>', {
                'name': 'csrfmiddlewaretoken',
                'value': $('input[name=csrfmiddlewaretoken]').val(),
                'type': 'hidden'
            }))
            .append($('<input>', {
                'name': 'context',
                'value':  'download-document',
                'type': 'hidden'
            })).append($('<input>', {
                'name': 'document-id',
                'value': document_id,
                'type': 'hidden'
            })).appendTo('body').submit();
     })
     $('.document-print').click(function(event){
        //  event.preventDefault()
        var document_id = $(this).attr('document-id');
        $('<form action="." method="POST" target="_blank"></form>')
            .append($('<input>', {
                'name': 'csrfmiddlewaretoken',
                'value': $('input[name=csrfmiddlewaretoken]').val(),
                'type': 'hidden'
            }))
            .append($('<input>', {
                'name': 'context',
                'value':  'view-document',
                'type': 'hidden'
            })).append($('<input>', {
                'name': 'document-id',
                'value': document_id,
                'type': 'hidden'
            })).appendTo('body').submit();
     })

     //  $('.law-firm-select').change(function () {
    //   debugger
    //     var  law_firm_id = $(this).val();
    //         checkboxList = $('<span></span>')
    //         checkbox = null
    //         {% for document in all_documents %}
            
            
    //         if ( {{document.law_firm.pk}} == law_firm_id )
    //         {
    //         checkbox = $('<input type="checkbox" name="document" value={{document.pk}}> {{document.file_name}}</input><br>')
    //         checkboxList.append(checkbox)
    //         // $('.attach-documents').append(checkbox)
    //         }
            
    //         {% endfor %}
    //         $('.document-holder').html(checkboxList)
    //             // checkbox = $('<input type="checkbox" name="document" value="'+ returned_data['documents'] +'"/>')
    // })

    $('.mark-case-btn').click(function (event) {
            event.preventDefault()
            var case_id = $(this).attr('case-id');
            debugger
            swal({
                title: 'Mark Case as attention required',
                text: 'Are you sure you want mark this case?',
                type: 'warning',
                confirmButtonText: 'Yes',
                showCancelButton: true,
                cancelButtonText: 'No'
            }).then(
                function () {
                $.post('/master-broker/mark-case/', {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    case_id: case_id,
                    mark:'mark'
                }, function () {
                    swal({
                        title: 'Success!',
                        text: 'The Case is marked for attention',
                        type: 'success',
                        timer: 2000,
                        showConfirmButton: false
                    })
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }).fail(function (error) {
                
                swal({
                    title: 'Unable to mark',
                    text: 'Unable to mark case as case is already closed',
                    type: 'error',
                    showConfirmButton: true

                });
            });
            })
     });
     $('.unmark-case-btn').click(function (event) {
            event.preventDefault()
            var case_id = $(this).attr('case-id');
            debugger
            swal({
                title: 'Unmark Case as attention required',
                text: 'Are you sure you want unmark this case?',
                type: 'warning',
                confirmButtonText: 'Yes',
                showCancelButton: true,
                cancelButtonText: 'No'
            }).then(
                function () {
                $.post('/master-broker/mark-case/', {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    case_id: case_id,
                    mark:'unmark'
                }, function () {
                    swal({
                        title: 'Success!',
                        text: 'The Case is unmarked for attention',
                        type: 'success',
                        timer: 2000,
                        showConfirmButton: false
                    })
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }).fail(function (error) {
                
                swal({
                    title: 'Unable to unmark',
                    text: 'Unable to unmark case as case is already closed',
                    type: 'error',
                    showConfirmButton: true
                });
            });
            })
     });
     extraInfoHolder();
    UpdateStatusAllCases();
</script>
{% endblock other_scripts %}