<!Doctype html>
<html>
    <head>
<title>500 Internal Error</title>
<style>
  body { text-align: center; padding: 150px; background-color: whitesmoke; }
  h1 { font-size: 40px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
</head>
<body>
    <article>
            <p style="font-size:70px;margin-bottom:-22px">500 Internal Error</p>
            <h1>Something went wrong!!</h1>
    <div>
        <p>The server encountered an internal error and was unable complete your request. <a href="javascript:history.back()">Click here </a> to go back or try refreshing the page.</p>
        <p>&mdash; Rapid Sign Now Team</p>
    </div>
</article>
</body>
</html>
